* {
    margin: 0;
    padding: 0;
    border: 0;
}


.contenedor-principal {
    display: flex;
    width: 100%;
    height: 100vh; 
    overflow: hidden; 
}

.column1 {
    width: 50%;
    height: 100%; 
    border: 2px solid black;
}

#img-login {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
}

.column2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%; 
    height: 100%; 
    background-color: rgb(171, 205, 205);
    border: 2px solid black;
    border-left: none; 
}

.cuadro-login {
    width: 60%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5%;
    background-color: white;
}

.titulo{
    font-family:sans-serif;
    color:rgb(41, 142, 144);
    margin-top: 30px;

}

.sub-titulo{
    font-family:sans-serif;
    margin-bottom: 35px;
}

.saludo{
    font-family:sans-serif;
    color:rgb(41, 142, 144);
    margin-top: 50px;
    margin-bottom: 50px;
}

.msg-login{
    text-align: center;
    font-family:sans-serif;
    margin-bottom: 40px;
}

.label-correo{
    font-family: sans-serif;
    margin-bottom: 40px;

}